    <div class="form-group mt-5">
    <form [formGroup]= "passwordForm">
        <label>Mot de passe: </label>
        <br>
        <input [ngClass]= "{'has-error': (passwordForm.get('password')?.errors || passwordForm.hasError('invalid'))}"type="text" formControlName="password" >
        <div *ngIf="passwordForm.get('password')?.errors">
            <mat-error *ngIf="passwordForm.get('password')?.errors?.required">
                *mot de passe obligatoire
            </mat-error>
        </div>
        <div>
            <mat-error *ngIf="passwordForm.hasError('invalid')">
             *mot de passe incorrect
            </mat-error>
         </div>
    </form>
    </div>
    <div class="error" *ngIf="passwordNotOk">
        {{'falsePaswordMessage'}}
    </div>
    
    <div class="container row align-center d-flex justify-content-center">
        <button (click)="checkPassword()" type="submit" [disabled]="passwordForm.invalid" mat-dialog-close>Valider
            
        </button>
    </div>
    