    <div class="form-group d-flex justify-content-center align-items-center">
        <label>Mot de passe: </label>
        <br>
        <input type="password"   name = "passwordVal"  [(ngModel)]="passWordVal" >
        
    </div>
    <div class="error" *ngIf="setMessageError">
        {{falsePaswordMessage}}
    </div>
    
    <div class="container-fluid align-center d-flex justify-content-center">
    <button (click)="closeDialog()" class="mr-4">Annuler</button>
        <button (click)="checkPassword()" type="submit" [disabled]="validateLength()" >
            Valider
        </button>
    </div>
    