    <div class="form-group mt-5">
    <form [formGroup]= "passwordForm">
        <label>Mot de passe: </label>
        <br>
        <input [ngClass]= "{'has-error': (passwordForm.get('password')?.errors || passwordForm.hasError('invalid')) && passwordForm?.get('password')?.dirty}"type="text" formControName="password" >
        <div *ngIf="passwordForm.get('password')?.errors">
            <mat-error *ngIf="passwordForm.get('password')?.errors?.required && passwordForm.get('password')?.dirty">
                *mot de passe obligatoire
            </mat-error>
        </div>
    </form>
    </div>
    <div class="error" *ngIf="passwordNotOk">
        {{'falsePaswordMessage'}}
    </div>
    
    <div class="container row align-center d-flex justify-content-center">
        <button (click)="checkPassword()" mat-dialog-close>Valider
            
        </button>
    </div>
    