<div class="padding">
    <select class="custom-select" (change)="changeMetier($event)">
        <option value="" selected disabled>Choisir business line</option>
        <option *ngFor="let metier of metierArray" [value]="metier.id">{{metier.titre}}</option>
     </select>
</div>
<div *ngIf="metierSelected"  class="container">
    <div class="row">
        <div class="form-group mt-5 col">
            <label for="file">Intervention : </label>
            <br>
            <div class="uploadfilecontainer" (click)="intervention.click()" appDragDropDirective (fileDropped)="uploadFile($event,true,'intervention')">
                <input hidden type="file" #intervention accept=".xlsx" [(ngModel)]="filesChamps[3]" (change)="uploadFile($event.target,false,'intervention')">
            </div>
            <div  class="files-list" *ngFor="let file of filesToUploadIntervention;let i= index">
                <p class="marginFileName"> {{ file.name }} </p>
                <button class="delete-file" (click)="deleteAttachment(i,'intervention')">
                    Supprimer
                </button>
            </div>
        </div>

        <div class="form-group mt-5 col">
            <label for="file">Incidents: </label>
            <br>
            <div class="uploadfilecontainer" (click)="incident.click()" appDragDropDirective (fileDropped)="uploadFile($event,true,'incident')">
                <input hidden type="file" #incident accept=".xlsx" [(ngModel)]="filesChamps[0]" (change)="uploadFile($event.target,false,'incident')">
                <span></span>
            </div>
            <div  class="files-list" *ngFor="let file of fileToUploadIncident;let i= index">
                <p class="marginFileName"> {{ file.name }} </p>
                <button class="delete-file" (click)="deleteAttachment(i,'incident')">
                    Supprimer
                </button>
            </div>
        </div>

        <div class="form-group mt-5 col">
            <label for="file">Plan Batch: </label>
            <br>
            <div class="uploadfilecontainer" (click)="planBatch.click()" appDragDropDirective (fileDropped)="uploadFile($event,true,'planBatch')">
                <input hidden type="file" #planBatch [(ngModel)]="filesChamps[1]" accept=".xlsx" (change)="uploadFile($event.target,false,'planBatch')">
            </div>
            <div  class="files-list" *ngFor="let file of fileToUploadPlanBatch;let i= index">
                <p class="marginFileName"> {{ file.name }} </p>
                <button class="delete-file" (click)="deleteAttachment(i,'planBatch')">
                    Supprimer
                </button>
            </div>
        </div>

        <div class="form-group mt-5 col">
            <label for="file">Etats des scénario: </label>
            <br>
            <div class="uploadfilecontainer" (click)="scenario.click()" appDragDropDirective (fileDropped)="uploadFile($event,true,'scenario')">
                <input hidden type="file" #scenario [(ngModel)]="filesChamps[2]" accept=".xlsx" (change)="uploadFile($event.target,false,'scenario')">
            </div>
            <div  class="files-list" *ngFor="let file of fileToUploadScenario;let i= index">
                <p class="marginFileName"> {{ file.name }} </p>
                <button class="delete-file" (click)="deleteAttachment(i,'scenario')">
                    Supprimer
                </button>
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <label>Scénario suspendu: </label>
        <br>
        <input type="number" [(ngModel)]="nbrSuspendu">
    </div>

    <div class="container row align-center d-flex justify-content-center">
        <button (click)="uploadFiles()">Valider</button>
    </div>
</div>