:host{
    background-color: #C6C6C6;
}
.componentTDB{
    margin-top: 20px;
}

.color{
    background-color: white;
}

.marginCol{
    margin-right: 20px;
}
.divFaitsMarquand{
    background: linear-gradient(to right, #00BAE3 0%, #5AB88D 100%);
    border-radius: 20px;
}

