:host{
    background-color: #F5F6FA;
}
.componentTDB{
    margin-top: 20px;
}

.color{
    background-color: white;
}

.marginCol{
    margin-right: 10px;
}
.divFaitsMarquand{
    background: linear-gradient(to right, #00BAE3 0%, #5AB88D 100%);
    border-radius: 20px;
}
