 
.svg {
    fill: #C6C6C6;
    height: 25px;
    width: 25px;
    
}
.actif{
  fill: #00B9E4;
}

.list-group-item{
  border:none;
  align-items: center;
  margin-top: 30%;
}

.list-group-item{
  padding: 20px 0px !important;
}

