 .svg {
    fill: #6e6e6e;
    height: 25px;
    width: 30px; 
}

.actif{
  fill: #04b3dc;
}

.actifReglage{
  fill: #04b3dc;
}

.list-group {
  width: 100%;
}

.actifBar{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-left: 5px solid #00B9E4;
}

@media only screen and (max-height: 620px){
  .svg{
    width: 27px;
  }
}


.actifReglage::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -30%;
  border-left: 5px solid #00B9E4;
}

.list-group-item{
  border:none;
  align-items: center;
  margin-top: 35%;
}

.list-group-item{
  padding: 11px 0px !important;
}
