 .svg {
    fill: #C6C6C6;
    height: 25px;
    width: 25px; 
}

.actif{
  fill: #00B9E4;
}

@media only screen and (max-width: 1024px) and (min-width: 901px) {
  .actif::before{
    left: -100% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (max-width: 900px) {
  .actif::before{
    left: -70% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1025px) {
  .actif::before{
    left: -120% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

.actif::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -170%;
  border-left: 5px solid #00B9E4;
}

.list-group-item{
  border:none;
  align-items: center;
  margin-top: 30%;
}

.list-group-item{
  padding: 21px 0px !important;
}

