 .svg {
    fill: #6e6e6e;
    height: 25px;
    width: 30px; 
}

.actif{
  fill: #04b3dc;
}
@media only screen and (min-width: 1651px) {
  .actif::before{
    left: -120% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (min-width: 1551px) and (max-width: 1650px) {
  .actif::before{
    left: -110% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (min-width: 1451px) and (max-width: 1550px) {
  .actif::before{
    left: -100% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1450px) {
  .actif::before{
    left: -90% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1350px) {
  .actif::before{
    left: -75% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1250px) {
  .actif::before{
    left: -65% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}


@media only screen and (max-width: 1100px) and (min-width: 1000px) {
  .actif::before{
    left: -55% !important;
    border-left: 5px solid #00B9E4 !important;
  }
}

.actif::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -40%;
  border-left: 5px solid #00B9E4;
}

.list-group-item{
  border:none;
  align-items: center;
  margin-top: 30%;
}

.list-group-item{
  padding: 21px 0px !important;
}

@media screen and (min-height: 650px)
{
  .list-group-item{
    padding: 24px 0px !important;
  }
}