<nav class="list-group list-group-horizontal justify-content-center">
    <ul class="list-group list-group-flush w-100 align-items-stretch">
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/accueil-component" routerLinkActive="active" >
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Home.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/client-distribution-component" routerLinkActive="active" >
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Digital.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/epargne-retraite-component" routerLinkActive="active">
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Epargne.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/finance-rh-component" routerLinkActive="active">
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Fonctions_supports.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/prevoyance-sante-component" routerLinkActive="active">
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Prevoyance_sante.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/retraite-complementaire-component" routerLinkActive="active">
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Retraite.svg'"></div>
            </a>
        </li>
        <li class="list-group-item text-center d-inline-block">
            <a routerLink="/saisie-manuelle-component" routerLinkActive="active">
                <div class="t text-center my-auto" [inlineSVG]="'assets/svg/Reglages.svg'"></div>
            </a>
        </li>
    </ul>
</nav>
