td{
    padding: 0% !important;
}

.fontSizeTableau{
    font-size: 10px;
}

.gradiant{
    font-weight: bold;
    background: linear-gradient(to right, #00BAE3 0%, #5AB88D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colorBlue{
    color: #00BAE3;
    font-size: 12px;
}
.texteNb{
    display:block;
    line-height:120%;
}

.divNb{
    border-right: solid;
}

.my-custom-scrollbar {
    position: relative;
    height: 120px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}