td{
    padding: 0px !important;
}

.tableauIncident{
    font-size: 10px;

    .textTitreTable{
        color: #00BAE3;
        font-size: 12px;
        margin:10px;
    }
    
    .texteNb{
        display:block;
        line-height:120%;
    }

    .zoomTableau{
        height: 300px !important;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 120px;
        overflow: auto;
    }
}

.etatPlanBatch{
    .graph{
        position: relative; height:25vh; width:25vw
    }
    
    .graphZoom{
        position: relative; height:75vh; width:75vw
    }
}

.textFaitsMarquants{
    font-size: 16px;
    height: 80px;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom: 15px;
}

.radioFaitsMarquants{
    padding-top: 5px;
}

.gradiant{
    font-weight: bold;
    background: linear-gradient(to right, #00BAE3 0%, #5AB88D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding: 10px 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:host ::ng-deep {
    .mat-radio-container{
        height: 10px;
        width: 10px;
    }
    .mat-radio-outer-circle{
        height: 10px;
        width: 10px;
        border-width: 1px!important;
        border-color:#C6C6C6!important;
    }
    .mat-radio-inner-circle{
        height: 10px;
        width: 10px;
    }
    .mat-radio-checked .mat-radio-inner-circle{
        transform: scale(1);
    }
    .mat-radio-button .mat-radio-ripple{
        height: 20px; /*double of your required circle radius*/
        width: 20px;  /*double of your required circle radius*/
        left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    }
}