td{
    padding: 0px !important;
}

.textTitre{
    color: #00BAE3;
    font-size: 14px;
    margin:10px;
}

.tableauIncident{

    .fontSize14{
        font-size: 14px;
    }

    .borderNB{
        border-right: 2px solid RGB(245, 246, 250);
    }

    .fontSize11{
        font-size: 11px;
    }
    
    .texteNb{
        display:block;
        line-height:120%;
    }

    .zoomTableau{
        height: 450px !important;
        
        .fontSize11{
            font-size: 14px !important;
        }
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 120px;
        overflow: auto;
    }
}

.etatPlanBatch{
    .graph{
        position: relative; height:25vh; width:25vw
    }

    .titrePlanBatch{
        font-size: 9px;
        margin: 0px;
    }
    
    .graphZoom{
        position: relative; height:75vh; width:75vw
    }
}

.textFaitsMarquants{
    height: 80px;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    scroll-margin-left: 25px;
    margin-bottom: 15px;
}

.radioFaitsMarquants{
    padding-top: 5px;
}

.gradiant{
    font-weight: bold;
    background: linear-gradient(to right, #00BAE3 0%, #5AB88D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    padding: 15px 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:host ::ng-deep {
    .mat-radio-container{
        height: 10px;
        width: 10px;
    }
    .mat-radio-outer-circle{
        height: 10px;
        width: 10px;
        border-width: 1px!important;
        border-color:#C6C6C6!important;
    }
    .mat-radio-inner-circle{
        height: 10px;
        width: 10px;
    }
    .mat-radio-checked .mat-radio-inner-circle{
        transform: scale(1);
    }
    .mat-radio-button .mat-radio-ripple{
        height: 20px; /*double of your required circle radius*/
        width: 20px;  /*double of your required circle radius*/
        left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    }
}