<div class="row tableauIncident">
    <div class="col-2 d-flex align-items-center borderNB" *ngIf="!zoom">
        <div class="row d-flex justify-content-center" style="display: inline;" >
                <div class="gradiant text-center">{{nombre}}</div><br>    
                <div class="text text-center fontSize14 m-1">{{texteNb}}</div>
        </div>
    </div>

    <div class="col" [ngClass]="{'zoom': zoom}">
        <p class="textTitre text-left">{{texteTitre}}
            <span *ngIf="zoom" class="zoomColor" (click)="zoomCompnent(false)" [inlineSVG]="'assets/svg/zoom-out.svg'"></span>
            <span *ngIf="!zoom" class="zoomColor" (click)="zoomCompnent(true)" [inlineSVG]="'assets/svg/zoom-in.svg'"></span>
          </p>

        <div class="table-wrapper-scroll-y my-custom-scrollbar" [ngClass]="{'zoomTableau': zoom}">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th *ngFor = "let column of headers" class="font-weight-bold text-uppercase text-left th-sm align-middle fontSize11">
                            {{column.libelle}}
                        </th>
                    </tr>
                </thead>
                <tbody class="tabIncident">
                    <tr *ngFor = "let incident of incidents" class="text-left  fontSize11">
                        <td class="align-middle" *ngFor = "let column of headers">
                            {{incident[column.id]}}  
                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let in of incidentsVide">
                        <td *ngFor = "let column of headers">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
