<div class="container row align-center d-flex justify-content-center mt-3">
    <ul class="nav nav-tabs nav-justified">
        <li><button class="btn col text-center" [ngClass]="{'actif': chargementDonnee}" (click)="chargementDonnee = true">Chargement Données</button></li>
        <li><button class="btn col text-center" [ngClass]="{'actif': !chargementDonnee}" (click)="chargementDonnee = false">Saisie Message</button></li>
    </ul>

    <div class="w-100 mb-3"></div>
    <app-chargement-donne *ngIf="chargementDonnee"></app-chargement-donne>
    <app-saisie-messages *ngIf="!chargementDonnee"></app-saisie-messages>
</div>
