.padding{
    padding: 20px;
}

.padding-sm{
    margin: 10px;
}

.my-custom-scrollbar {
    position: relative;
    height: 180px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.tabMessage{
    height: 600px;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
}

.actif{
    background-color:#00B9E4;
}

.button{
    border-radius: 5px;
    margin: 10px;
    border:none;
}

.nav-tabs {
    border-bottom: none !important;
}