<header class="row">
    <img class="col-1 logo_AG2R" src="../assets/img/Logo-ag2r lm.png">
    <h2 class="text-center my-auto col">{{metierCurrent.titre |uppercase}}</h2>
</header>
<div class="row">
    <app-menu [menu]="metierCurrent.menu" class="col-1"></app-menu>
    <router-outlet></router-outlet>
    <svg style="width:0px;height:0px;">
        <linearGradient id="gradient">
            <stop offset="5%" stop-color="#00BAE3" />
            <stop offset="95%" stop-color="#5AB88D" />
          </linearGradient>
    </svg>
</div>