.row{
    margin-right: 0px;
    margin-left: 0px;
}

p {
    margin-top: 25px;
  }

h2{
    color:#00B9E4;
    font-weight: bold;
}

header{
    border-bottom: 2px solid #C6C6C6;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important;     /*click effect color change*/
    background-color: none !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #C6C6C6!important;   /*inner circle color change*/
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#C6C6C6!important; /*outer ring color change*/
}

::ng-deep .zoomColor{
    color:#00BAE3;
    cursor: pointer;
    float: right;
}

::ng-deep .pointer{
    cursor: pointer;
}

* {
    font-family: 'GOTHAM';
    font-size: 16px;
    color: RGB(107, 107, 107);
}

.col-1 {
    flex: 0 0 6.333333% !important;
    max-width: 7.2% !important;
}