
<div class="padding">
    <select class="custom-select" (change)="changeMetier($event)">
        <option value="" selected disabled>Choisir business line</option>
        <option *ngFor="let metier of metierArrayMessage; let i = index" [value]="i">{{metier?.titre}}</option>
     </select>
</div>
<div *ngIf="metierSelected">
    <div>    
        <div class="text-center padding form-group">
            <textarea maxlength="255" type="multiliner" class="form-control m-3" [(ngModel)]="message"></textarea>
            <button class="btn-default padding-sm" (click)="ajouter()">Ajouter</button>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="metierSelected">
            <table class="table table-striped table-sm">
                <tbody class="tabMessage">
                    <tr *ngFor="let e of faitsMarquants" class="text-center">
                        <td>
                            <span [innerHTML]="e.libMessage"></span>
                        </td>
                        <td>
                            <button (click)="supprimerMessage($event,e.idMessage)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        <div class="text-center padding" *ngIf="faitsMarquants.length > 1">
            <button class="btn-default"  (click)="supprimerAllMessage()">Supprimer Tout</button>
        </div>
    </div>
</div>
