<div class="etatPlanBatch h-100">
  <div class="chart-wrapper" [ngClass]="(zoom === true)?'graphZoom':'graph'">
    <p class="textTitre text-left">Etat du plan batch : 7h30&emsp;
      <a *ngIf="zoom" class="zoomColor" style="float:right;" (click)="zoomCompnent(false)" [inlineSVG]="'assets/svg/zoom-out.svg'"></a>
      <a *ngIf="!zoom" class="zoomColor" style="float:right;"(click)="zoomCompnent(true)" [inlineSVG]="'assets/svg/zoom-in.svg'"></a>
    </p>
    <p class="text-center titrePlanBatch p-1">Etat des batchs {{metier?.titre}}</p>
      <canvas baseChart 
        [datasets]="barChartData"
        [colors]="chartColors"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
  </div>
</div>

