<div class="messageContainer mt-3" (click)="clickMessage(index)">
    <div class="row">
        <div class="col ">
            <div class="textMessage" style="cursor: pointer;" *ngIf="messages">
                <span class="colorMessage">Message: </span>
                <span [innerHTML]="messages[index].libMessage"></span>
            </div>
            <div class="textMessage" *ngIf="!messages"><span class="colorMessage">Message: </span> Aucun message</div>
        </div>
        <div class="col-1">
            <div class="containerMessage vertical-center" style="cursor: pointer;">
                <div class="bulle">
                    <div class="text-center my-auto" style="width:100%;" [inlineSVG]="'assets/svg/bulle_message.svg'"></div>
                    <div class="nbMessage">{{longer}}</div>
                </div>
                <div class="svg text-center my-auto" [inlineSVG]="'assets/svg/message.svg'"></div>
            </div>
        </div>
    </div>
</div>
<mat-radio-group class="d-flex justify-content-center radioMessage" name="opList" [(ngModel)]="radioOptions">
    <mat-radio-button  name="opList" *ngFor="let op of messages, let i = index" [value]="i" (click)="clickRadio(i)"></mat-radio-button>
</mat-radio-group>

<p class="blueUnderline">Business Line</p>

<div class="row">
    <div class="col iconAccueil shadow p-3 mb-5 rounded" routerLink="/retraite-complementaire-component" routerLinkActive="active">
        <div class="svg text-center my-auto" [inlineSVG]="'assets/svg/Retraite.svg'"></div>
        <p>{{metierArray[1].titre}}</p>
    </div>
    <div class="col iconAccueil shadow p-3 mb-5 rounded" routerLink="/client-distribution-component" routerLinkActive="active">
        <div class="svg text-center my-auto" [inlineSVG]="'assets/svg/Digital.svg'"></div>
        <p>{{metierArray[2].titre}}</p>
    </div>
    <div class="col iconAccueil shadow p-3 mb-5 rounded" routerLink="/prevoyance-sante-component" routerLinkActive="active">
        <div class="svg text-center my-auto" [inlineSVG]="'assets/svg/Prevoyance_sante.svg'"></div>
        <p>{{metierArray[3].titre}}</p>
    </div>
    <div class="col iconAccueil shadow p-3 mb-5 rounded" routerLink="/epargne-retraite-component" routerLinkActive="active">
        <div class="svg text-center my-auto" [inlineSVG]="'assets/svg/Epargne.svg'"></div>
        <p>{{metierArray[4].titre}}</p>
    </div>
    <div class="col iconAccueil shadow p-3 mb-5 rounded" routerLink="/finance-rh-component" routerLinkActive="active">
        <div class="svg" [inlineSVG]="'assets/svg/Fonctions_supports.svg'"></div>
        <p>{{metierArray[5].titre}}</p>
    </div>
</div>


