.containerMessage{
    text-align: center;
    color: #ffffff;
    width: 30%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    flex: 0 0 230px;
    
    .container{
        padding-top: 30px;
    }
}

.textMessage{
    height: 180px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-top: 2.8%;
    font-size: 20px;
}

.radioMessage{
    padding-bottom: 2%;
}

.colorMessage{
    color: #00B9E4;
}

.bulle{
    text-align: center;
    font-size:9px;
    color: white;
    width: 50%;
    position: absolute;
    top: -10px;
    left: 20px;
}

.nbMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blueUnderline{
    color: #00B9E4;
    font-size: 20px;
}

.iconAccueil{
    
    background-color: #dbdbdb91;
    margin-right: 30px;
    text-align: center;
    position: relative;

    .svg {
        width: 70px;
        margin-left: auto!important;
        margin-right: auto!important;
        shape-rendering: crispEdges;
        fill: url(#gradient);
        padding-bottom: 20px;
    }
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:host ::ng-deep {
    .mat-radio-container{
        height: 10px;
        width: 10px;
    }
    .mat-radio-outer-circle{
        height: 10px;
        width: 10px;
        border-width: 1px!important;
        border-color:#C6C6C6!important;
    }
    .mat-radio-inner-circle{
        height: 10px;
        width: 10px;
    }
    .mat-radio-checked .mat-radio-inner-circle{
        transform: scale(1);
    }
    .mat-radio-button .mat-radio-ripple{
        height: 20px; /*double of your required circle radius*/
        width: 20px;  /*double of your required circle radius*/
        left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    }
}