.test{
    text-align: center;
    color: #ffffff;
    width: 30%;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container{
    padding-top: 30px;
}

.textMessage{
    font-size: 16px;
    height: 150px;
    max-width: 100%;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom: 15px;
}

.radioMessage{
    padding-bottom: 20px;
}

.colorMessage{
    color: #00B9E4;
}

.bulle{
    text-align: center;
    font-size:9px;
    color: white;
    width: 50%;
    position: absolute;
    top: -10px;
    left: 20px;
}

.nbMessaget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.test{
    flex: 0 0 230px;
}
.t{
    fill: #C6C6C6;
}

:host ::ng-deep {
    .mat-radio-container{
        height: 10px;
        width: 10px;
    }
    .mat-radio-outer-circle{
        height: 10px;
        width: 10px;
        border-width: 1px!important;
        border-color:#C6C6C6!important;
    }
    .mat-radio-inner-circle{
        height: 10px;
        width: 10px;
    }
    .mat-radio-checked .mat-radio-inner-circle{
        transform: scale(1);
    }
    .mat-radio-button .mat-radio-ripple{
        height: 20px; /*double of your required circle radius*/
        width: 20px;  /*double of your required circle radius*/
        left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
        top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    }
}

.blueUnderline{
    text-decoration: underline;
    font-size: 16px;
    color: #00B9E4;
}

.iconAccueil{
    
    background-color: #F5F6FA;
    margin-right: 50px;
    font-size: 13px;
    text-align: center;
    position: relative;

    .t {
        width: 70px;
        margin-left: 20%;
        shape-rendering: crispEdges;
        fill: url(#gradient);
        padding-bottom: 20px;
    }
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}