<div [ngPlural]="nb" class="d-flex justify-content-center align-items-center">
    <ng-template  ngPluralCase="0">
        <span class="pl-2">Aucun scénario suspendu</span>
    </ng-template>
    <ng-template ngPluralCase="1">
        <span class="gradiantSuspendu">{{nb}}</span>
        <span class="pl-2">Scénario suspendu</span>
    </ng-template>
    <ng-template ngPluralCase="other">
        <span class="gradiantSuspendu">{{nb}}</span>
        <span class="pl-2">Scénarios suspendus</span>
    </ng-template>
</div>


